*{
    box-sizing: border-box;
    color: white;
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: black;
    min-height: 100vh;
    
}
.nav button{
    border: none;
    padding: 10px 20px 10px 20px;
    background-color: black;
}
.nav button:hover{
    background-color: rgb(210, 35, 0);
    cursor: pointer;
}
#content{
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.nav{
    display: flex;
    justify-content: center;
    background-color: black;
    align-items: center;
}
.logo{
    color: gold;
    font-style: italic;
    margin-right: 50px;
}
.page{
    background-image: url('./pages/main-menu-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    color: gold;
}